@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --background: #252335;
  --surface: #2B2139;
  --primary: #463564;
  --accent: #C62790;
  --highlight: #FFD700;
  --red-neon: #FF4757;
  --text-primary: #FFFFFF;
  --text-secondary: #B0A8B9;
  --font-family: 'Inter', sans-serif;
}